.text-center {
    text-align: center;
}
.mt-2 {
    margin-top: 2em;
}
.torrent-list {
    padding: 0 4px !important;
}
.vh-100 {
    height: 100vh;
}
.w-50 {
    width: 50%;
}
.text-over-hide {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.up-color {
    color: #67C23A;
}
.down-color {
    color: #409EFF;
}
.yes-color {
    color: #4CAF50;
}
.no-color {
    color: #909399;
}
.v-data-table > .v-data-table__wrapper > table > tbody > tr > td,
.v-data-table > .v-data-table__wrapper > table > tbody > tr > th,
.v-data-table > .v-data-table__wrapper > table > thead > tr > td,
.v-data-table > .v-data-table__wrapper > table > thead > tr > th,
.v-data-table > .v-data-table__wrapper > table > tfoot > tr > td,
.v-data-table > .v-data-table__wrapper > table > tfoot > tr > th {
    padding: 0 4px !important;
}

.v-data-table > .v-data-table__wrapper tbody tr.v-data-table__expanded__content {
    box-shadow: none !important;
}
