.text-center {
    text-align: center;
}
.mt-2 {
    margin-top: 2em;
}
.torrent-list {
    padding: 0 4px !important;
}
.vh-100 {
    height: 100vh;
}
.w-50 {
    width: 50%;
}
.text-over-hide {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.up-color {
    color: #67C23A;
}
.down-color {
    color: #409EFF;
}
.yes-color {
    color: #4CAF50;
}
.no-color {
    color: #909399;
}
